/* http://zurb.com/playground/css-grid-builder */

div#container, div.container { position: relative; width: 860px; margin: 0 auto; padding: 0; }

.column-row, .row { margin: 0 0 18px -15px; }
.column, .columns { float: left; display: inline; margin: 0 0 0 15px; min-height: 1px; }
 
.one { width: 110px; }
.two { width: 235px; }
.three { width: 360px; }
.four { width: 485px; }
.five { width: 610px; }
.six { width: 735px; }
.seven { width: 860px; }
 
.offset-by-one { margin-left: 140px; }

.column-row:after, .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
* html .column-row, * html .row, * html .clearfix { height: 1%; }
.column-row, .row, .clearfix { display: inline-block; }
.column-row, .row, .clearfix { display: block; }