body {
  padding-top: 15px;
  background-color: #277714;
  background-image: url(../img/45-degree-fabric-dark.png);
}

.github-fork-ribbon {
  background-color: #277714;
}

.container > .row {
  height: 180px;
}

img.card {
  height: 160px;
  width: 110px;
  display: block;
  border-radius: 3px;
  
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.placeholder {
  width: 110px;
  height: 160px;
  border: 3px solid #277714;
  border-radius: 3px;
  margin-left: -3px;
  margin-top: -3px;
  margin-bottom: -163px;
}

.drop-target {
  position: relative;
  width: 110px;
  height: 160px;
  margin-bottom: -160px;
}

.pile.tableau img.up,
.gu-mirror img.up {
  margin-bottom: -130px;
}

.pile.tableau img.down {
  margin-bottom: -150px;
}

.pile.deck img,
.pile.waste img,
.pile.foundation img {
  margin-bottom: -160px;
}

.splash {
  font-family: sans-serif;
  font-size: 60px;
  text-align: center;
  color: #277714;
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  
  justify-content: center;
  
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.win {
  font-family: sans-serif;
  font-size: 60px;
  text-align: center;
  color: #277714;
  text-align: center;
}